<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Summerville Rec Soccer {% if title %}- {{ title }}{% endif %}</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public/main.css') }}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin:100,300,400,500,600,700">
    {% endblock %}

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    {% endblock %}
</head>
<body>

{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock %}


<main>
{% block notifications %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
</main>

{% block footer %}
    <footer class="page-footer">
            <div class="row">
                <div class="col s5"><h6>Summerville Recreation Department</h6></div>
                <div class="col s2"><h6 style="text-align: center">434-232-7676</h6></div>
                <div class="col s5"><h6 style="text-align: right">rec@summerville.org</h6></div>
            </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var elems = document.querySelectorAll(".sidenav");
            var instances = M.Sidenav.init(elems, {preventScrolling: true});
        });
    </script>
{% endblock %}

</body>
</html>